<template name="proyectosList">
	<h3>Proyectos Eléctricos</h3>

	<div class="list-group">

		{{#each proyectosVar}}
		<a href="#" class="list-group-item">{{>proyectoDetalle }}</a>
		{{/each}}
	
	</div>

</template>

<template name="proyectoDetalle">
	<b>{{nombre}}</b><br/>
	<b>Comitente: </b>{{comitente}}<br/>
	<b>Ubicación: </b>{{ubicacion}}<br/>
	<b>Expediente: </b>{{expediente}}<br/>
</template>

<template name="proyectoInsert">
	{{>quickForm id="proyectosInsert" collection="Proyectos" type="insert" }}
</template>