<template name="materialsList">
	<h3>Materiales Eléctricos</h3>

	 {{#if (Template.subscriptionsReady) }}
		<div class="list-group">

			{{#each materialsVar}}
			<a href="{{ pathFor '/materials/:id' id=this._id }} " class="list-group-item">{{>materialDetalle }}</a>
			{{/each}}
		
		</div>
	{{else}}
		{{>loading}}
	{{/if}}
	<a href="{{pathFor '/materials/new' }}" class="btn btn-danger">New</a>
</template>

<template name="materialDetalle">
	<b>{{nombre}}</b>
</template>

<template name="materialsShow">

	{{>quickForm id="materialsShow" collection="Materials" type="readonly" doc=materialVar }}

	<embed src="{{materialFile}}" width="90%" height="1200"><br/>

	<a href="{{pathFor '/materials/:id/edit' id=materialVar._id }}" class="btn btn-danger">Edit</a>
	<a href="{{pathFor '/materials' }}" class="btn btn-info">Back</a>
</template>

<template name="materialInsert">
	{{>quickForm id="materialsInsert" collection="Materials" type="insert" }}
	<a href="{{pathFor '/materials' }}" class="btn btn-info">Back</a>
</template>

<template name="materialsUpdate">
	{{>quickForm id="materialsInsert" collection="Materials" type="update" doc=materialVar }}
	<a href="{{pathFor '/materials' }}" class="btn btn-info">Back</a>
</template>